
/* #region ============= FONT & COLOR ============= */
    :root {
        /* #region ============= FONTS ============= */
            --bebas: "Bebas Neue", sans-serif;
            --outfit: "Outfit", sans-serif;
        /* #endregion ========== FONTS ============= */

        /* #region ============= DEFAULT COLOR ============= */
            --clr200: #8c84ff; /* light +30 */
            --clr200: #7b72ff; /* light +20 */
            --clr300: #6b61ff; /* light +10 */
            --clr400: #5b50ff; /* default */
            --clr500: #3b2eff; /* dark +10 */
            --clr600: #1c0dfe; /* dark +20 */
            --clr600: #0e00ea; /* dark +30 */

            --primary: var(--clr400);
            --primary-hover: var(--clr500);
            --primary-active: var(--clr600);
            --primary-disabled: var(--clr200);

            --white: #ffffff;
            --black: #212529;
            --grey: #6A6A6A;
            --soft-grey: #ededed;
            --red: #f44336;
            --green: #4caf50;
            --orange: #ff9800;
            --yellow: #ffeb3b;
            --border: #e1e1e1;

            --putih: #ffffff;
            --hitam: #212529;
            --garis: #e1e1e1;
            --shadow: #00000025;

            --anim: .25s ease;
        /* #endregion ========== DEFAULT COLOR ============= */
    }

    /* #region ============= DARK COLOR ============= */
        body.dark {
            --white: #212529 !important;
            --black: #ffffff !important;
            --grey: #aaaaaa !important;
            --soft-grey: #3a3e44 !important;
            --line: #4a4a4a !important;

            --shadow: #00000090 !important;
        }
    /* #endregion ========== DARK COLOR ============= */
/* #endregion ========== VARIABLES ============= */


/* #region ============= KEYFRAMES ============= */
    
/* #endregion ========== KEYFRAMES ============= */