@import url(/assets/css/rvp-new-variables.css);
@import url(/assets/css/rvp-new-responsive.css);
@import url(/assets/css/rvp-new-dark.css);


/* #region ============= GLOBAL ============= */
    body {
        font-family: var(--outfit);
        background-color: var(--white);
    }
    section {
        width: 100%;
        max-width: var(--maxPage);
        height: 100vh;
        margin-inline: auto;
    }
    .subtitle {
        color: var(--black);
        font-size: 2.75rem;
        font-family: var(--go700);
        text-transform: capitalize;

        & span {
            color: var(--primary);
        }
    }
    .desc {
        color: var(--black);
        font-size: 1.25rem;
    }
/* #endregion ========== GLOBAL ============= */

/* #region ============= SCROLLBAR ============= */
    *::-webkit-scrollbar {
        height: 10px;
        width: 8px;
    }
    *::-webkit-scrollbar-track {
        background: #fff;
        margin: 0;
    }
    *::-webkit-scrollbar-thumb {
        background-color: var(--primary);
        background: linear-gradient(to top, var(--primary) 0%, var(--primary) 60%);
        border: 2px solid transparent;
        border-radius: 10px;
        background-clip: content-box;
    }
/* #endregion ========== SCROLLBAR ============= */

/* #region ============= BACK TO TOP ============= */
    #bttBtn {
        position: fixed;
        right: 1.5rem;
        bottom: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: none;
        outline: none;
        color: var(--putih);
        background-color: var(--black);
        border-radius: 50%;
        box-shadow: 2px 2px 8px var(--shadow);
        transform: scale(0);
        transition: var(--anim);
        transform-origin: center bottom;
        cursor: pointer;
        z-index: 99;

        & svg {
            stroke: currentColor;
        }
    }
/* #endregion ========== BACK TO TOP ============= */

/* #region ============= HIDE ARROW INPUT ============= */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
/* #endregion ========== HIDE ARROW INPUT ============= */

/* #region ============= CUSTOM SELECTION COLOR ============= */
    ::selection {
        color: var(--putih);
        background: var(--primary);
    }
    ::-moz-selection {
        color: var(--putih);
        background: var(--primary);
    }
/* #endregion ========== CUSTOM SELECTION COLOR ============= */

/* #region ============= CUSTOM BROKEN IMAGE ============= */
    img {
        position: relative;
    }
    img::after {
        content: "Gagal menampilkan gambar \A'" attr(alt) "'\A 😞" / " ";
        position: absolute;
        inset: 0;
        display: grid;
        place-items: center;
        color: var(--grey);
        font-weight: 600;
        text-align: center;
        background-color: var(--putih);
        border: 2px dashed var(--border);
        border-radius: .5rem;
        white-space: pre-wrap;
    }
/* #endregion ========== CUSTOM BROKEN IMAGE ============= */

/* #region ============= NAVBAR ============= */
    #navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        max-width: var(--maxPage);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding: 1.4rem 4rem;
        margin-inline: auto;
        background: transparent;
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        transition: var(--anim);
        isolation: isolate;
        z-index: 100;

        & #nav-toggle {
            display: none;
        }
        
        & .brand, .theme {
            max-width: 200px;
        }

        & .brand {
            display: flex;
            align-items: center;

            & a {
                display: grid;
                place-items: center;
                color: var(--putih);
                text-decoration: none;
            }
            & svg {
                width: auto;
                height: 36px;
            }
        }
        
        & .nav-menu {
            display: flex;
            justify-content: center;

            & ul {
                display: flex;
                align-items: center;
                gap: 3rem;
                padding: 0;
                margin: 0;

                & li {
                    list-style: none;

                    & a {
                        color: var(--putih);
                        font-size: 1rem;
                        text-decoration: none;
                        text-transform: capitalize;
                        transition: var(--anim);

                        &:is(:hover, :active) {
                            color: var(--primary);
                        }
                    }
                }
            }
        }

        & .theme {
            display: flex;
            align-items: center;
            gap: 1rem;

            & label[for="nav-toggle"] {
                display: none;
                width: 2.2rem;
                height: 2.2rem;
                cursor: pointer;

                & svg {
                    width: 100%;
                    height: 100%;
                    stroke: var(--black);

                    &:last-child {
                        display: none;
                        stroke: var(--red);
                    }
                }
            }

            & .toggle-dark {
                width: 3rem;
                aspect-ratio: 16 / 9;
                border-radius: 3rem;
                overflow: hidden;

                & #darkModeToggle {
                    display: none;
                }

                & label {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;

                    & div {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(to top, #1ddffd, #10cae7);
                        box-shadow: inset 0 0 4px #00000040;
                        transition: var(--anim);
                        z-index: 0;

                        &::before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 8%;
                            transform: translateY(-50%);
                            height: 75%;
                            aspect-ratio: 1;
                            background-color: var(--putih);
                            border-radius: 50%;
                            box-shadow: 0 0 8px #00000040;
                            transition: var(--anim);
                            z-index: 3;
                        }
                        #darkModeToggle:checked ~ &::before {
                            left: 49%;
                        }

                        & span:first-child {
                            position: absolute;
                            left: -20%;
                            bottom: -117%;
                            aspect-ratio: 1;
                            height: 150%;
                            border-radius: 50%;
                            background-color: var(--secondary);
                            z-index: 1;

                            &::after {
                                content: '';
                                position: absolute;
                                left: 65%;
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                                background-color: var(--primary);
                                transition: var(--anim);
                            }
                        }
                        #darkModeToggle:checked ~ & span:first-child {
                            background-color: #4a554c;
                        }
                        #darkModeToggle:checked ~ & span:first-child::after {
                            background-color: #55775e;
                        }
                        & span:last-child {
                            position: absolute;
                            top: 39%;
                            left: 70%;
                            aspect-ratio: 1;
                            height: 32%;
                            border-radius: 50%;
                            background-color: #fff679;
                            box-shadow: 0 0 8px #fff679c4;
                            transition: var(--anim);
                            z-index: -1;
                        }
                        #darkModeToggle:checked ~ & span:last-child {
                            top: 22%;
                            left: 12%;
                            background-color: #fefcda;
                            box-shadow: 0 0 6px #fefcdac4;
                        }
                    }
                    #darkModeToggle:checked ~ div {
                        background: linear-gradient(to top, #a5a5a5, #939393);
                    }
                }
            }
        }

        & .glass {
            position: absolute;
            inset: 0;
            background: hsl(from var(--white) h s l / .15);
            backdrop-filter: blur(40px);
            -webkit-backdrop-filter: blur(40px);
            box-shadow: 
                0 8px 32px hsl(from var(--white) h s l / .1),
                inset 0 1px 0 hsl(from var(--white) h s l / .35),
                inset 0 -1px 0 hsl(from var(--white) h s l / .1),
                inset 0 0 50px 10px hsl(from var(--white) h s l / .5);
            overflow: hidden;
            z-index: -1;
        }
    }
/* #endregion ========== NAVBAR ============= */

/* #region ============= HEADER ============= */
    header {
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: var(--hitam);
        isolation: isolate;

        & .hero {
            position: absolute;
            inset: 0;
            background-image: url(https://rv-affiliate.azureedge.net/web-replika/headerBaru01.webp);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            opacity: .8;
            z-index: -1;
        }

        & .text {
            position: absolute;
            inset: 0;
            display: grid;
            grid-template-columns: auto max-content;
            align-items: flex-end;
            padding: 0 4rem 4rem 4rem;

            & .left {
                color: var(--putih);

                & div {
                    position: relative;
                    display: flex;
                    align-items: center;
                    height: 60px;
                    width: 200px;
                    padding: .5rem;
                    margin-bottom: 3rem;
                    background: hsl(from var(--putih) h s l / .15);
                    backdrop-filter: blur(15px);
                    -webkit-backdrop-filter: blur(15px);
                    box-shadow: 
                    0 6px 20px hsl(from var(--putih) h s l / .1),
                    inset 0 1px 0 hsl(from var(--putih) h s l / .35),
                    inset 0 -1px 0 hsl(from var(--putih) h s l / .1),
                    inset 0 0 30px 6px hsl(from var(--putih) h s l / .65);
                    border-radius: 3rem;
                    cursor: pointer;
                    
                    & i {
                        position: absolute;
                        left: .5rem;
                        display: grid;
                        place-items: center;
                        color: var(--grey);
                        font-size: 1.75rem;
                        height: 75%;
                        aspect-ratio: 1;
                        background-color: var(--putih);
                        border-radius: 50%;
                        transition: var(--anim);
                    }
                    &:hover i {
                        left: calc(100% - 3.25rem);
                    }
                    & span {
                        font-size: 1.15rem;
                        font-weight: 600;
                        text-transform: capitalize;
                        padding-left: 3.5rem;
                        transition: var(--anim);
                    }
                    &:hover span {
                        padding-left: .75rem;
                    }
                }
                & p:first-of-type {
                    font-family: var(--bebas);
                    font-size: 5.5rem;
                    font-weight: 700;
                    line-height: 1.1;
                    margin-bottom: 0;
                    text-shadow: 0 0 20px rgba(0,0,0,.75);
                }
                & p:last-child {
                    font-size: 1.5rem;
                    margin-bottom: 0;
                    text-shadow: 0 0 5px rgb(0,0,0);
                }
            }

            & .right {
                min-width: 200px;
                margin-bottom: 1rem;

                

                & .visitors {
                    & > p {
                        color: var(--putih);
                        font-size: 1rem;
                        text-shadow: 0 0 5px rgb(0,0,0);
                        margin-bottom: .75rem;
                    }
                    & > div {
                        --circHeight: 46px;

                        position: relative;
                        display: flex;
                        align-items: center;
                        min-height: var(--circHeight);

                        & span {
                            position: absolute;
                            left: calc(1.75rem * var(--numb));
                            display: block;
                            height: var(--circHeight);
                            aspect-ratio: 1;
                            border: 3px solid #fff;
                            border-radius: 50%;
                            transition: left .3s ease;

                            &:hover {
                                left: calc(1.75rem * var(--numb) - .35rem);
                            }
                            & img {
                                display: block;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                            &:last-child {
                                position: relative;
                                overflow: hidden;

                                &::before {
                                    content: '1k+';
                                    position: absolute;
                                    inset: 0;
                                    display: grid;
                                    place-items: center;
                                    color: #fff;
                                    font-size: .8rem;
                                    background-color: rgba(0,0,0,0.65);
                                    z-index: 5;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
/* #endregion ========== HEADER ============= */






/* #region ============= XXX ============= */
    
/* #endregion ========== XXX ============= */