@import url(./rvp-new-variables.css);


/* ####################################################################################################################### */
/* ####################################################### DEKSTOP ####################################################### */
/* ####################################################################################################################### */
@media screen and (min-width: 1024px) {
    /* #region ============= GLOBAL ============= */
    :root {
        --maxPage: 2500px;
    }
    /* #endregion ========== GLOBAL ============= */
}

/* ###################################################################################################################### */
/* ####################################################### TABLET ####################################################### */
/* ###################################################################################################################### */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* #region ============= GLOBAL ============= */
        :root {
            --maxPage: 100%;
        }

        .subtitle {
            font-size: 2.25rem;
        }
        .desc {
            font-size: 1.15rem;
        }
    /* #endregion ========== GLOBAL ============= */

    /* #region ============= NAVBAR ============= */
        #navbar {
            padding: 1rem 3rem;
            background: var(--white);
            box-shadow: 0 5px 15px #69696933;
            
            & .nav-menu {
                position: fixed;
                top: 4.2rem;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 3rem;
                background-color: #000000e3;
                opacity: 0;
                pointer-events: none;
                overflow: hidden;

                & ul {
                    width: 100%;
                    flex-direction: column;
                    align-items: flex-start;

                    & li {
                        list-style: none;

                        & a {
                            color: var(--putih);
                            text-decoration: none;
                            transition: var(--anim);

                            &:is(:hover, :active) {
                                color: var(--primary);
                            }
                        }
                    }
                }
            }

            & .theme {
                & label[for="nav-toggle"] {
                    display: block;
                }
            }

            & #nav-toggle:checked ~ .nav-menu {
                opacity: 1;
                pointer-events: all;
            }
            & #nav-toggle:checked ~ .theme label[for="nav-toggle"] svg:first-child {
                display: none;
            }
            & #nav-toggle:checked ~ .theme label[for="nav-toggle"] svg:last-child {
                display: block;
            }
        }
    /* #endregion ========== NAVBAR ============= */
    
    /* #region ============= HEADER ============= */
        header {
            & .text-header {
                & .tagline {
                    height: 9rem;
                    font-size: 3.5rem;
                }
            }
        }
    /* #endregion ========== HEADER ============= */

    /* #region ============= OPENING1 ============= */
        #opening1 {
            & .grid-opening1 {
                grid-template-columns: 45% auto;
                padding: 0 5%;

                & .tea-pouch {
                    & img {
                        height: 90%;
                    }
                }

                & .tea-glass {
                    left: -10%;
                    height: 50%;

                    & p {
                        max-width: 40%;
                    }
                }
            }
        }
    /* #endregion ========== OPENING1 ============= */

    /* #region ============= OPENING2 ============= */
        #opening2 {
            overflow-x: hidden;
            
            & .pouch-left {
                left: -6%;
            }
            & .pouch-right {
                right: -6%;
            }
        }
    /* #endregion ========== OPENING2 ============= */

    /* #region ============= INFO PRODUK ============= */
    #infoProduct {
        grid-template-columns: auto 45%;
        gap: 3rem;
        padding: 5%;

        & .img-info {
            & :is(.jar-bottom, .jar-top) {
                padding: 1rem;
            }

            & :is(.tea-leaves1, .tea-leaves2) {
                width: 28%;
            }
            & .tea-leaves1 {
                top: -3%;
                left: -5%;
            }
            & .tea-leaves2 {
                bottom: 12%;
                right: -7%;
            }
        }
    }
    /* #endregion ========== INFO PRODUK ============= */

    /* #region ============= PERBEDAAN ============= */
        #perbedaan {
            gap: 1rem;
            padding: 0 5%;

            & .wrap-perbedaan {
                --sliderWidth: 400px;

                align-items: flex-start;
    
                & .text-slider {
                    width: calc(50% - 1rem);
                    justify-content: flex-start;
                    padding-top: calc(50% + 4rem);

                    & svg {
                        height: 24px;
                        min-height: 24px;
                    }
                    & p {
                        font-size: .9rem;
                        padding-left: 1.15rem;
                    }
                }
            }
        }
    /* #endregion ========== PERBEDAAN ============= */

    /* #region ============= KELEBIHAN ============= */
    #kelebihan {
        padding: 0 5%;
        overflow: hidden;

        & .wrap-kelebihan {
            max-width: 75%;

            & .minum-teh {
                & img {
                    width: 100%;
                    height: auto;
                }

                &::before {
                    height: 70%;
                }
            }

            & .manfaat:nth-child(1) {
                top: 10%;
                left: -17%;
                width: 40%;

                &::before {
                    bottom: calc(-120% + -1.75rem);
                    width: 50%;
                    height: 120%;
                }
            }
            & .manfaat:nth-child(2) {
                top: 8%;
                right: -16%;
                width: 38%;

                &::before {
                    width: 85%;
                }
            }
            & .manfaat:nth-child(3) {
                left: -16%;
                bottom: 20%;

                &::before {
                    top: calc(-220% + -1.5rem);
                    width: 30%;
                    height: 220%;
                }
            }
            & .manfaat:nth-child(4) {
                bottom: 22%;
                right: -15%;

                &::before {
                    top: calc(-170% + -1.5rem);
                    width: 80%;
                    height: 170%;
                }
            }

            & .leaf6, .leaf9 {
                display: none;
            }
        }
    }
    /* #endregion ========== KELEBIHAN ============= */

    /* #region ============= PROMO ============= */
        #promo {
            height: 40vh;
            padding: 0 0 0 5%;

            & .wrap-promo {
                grid-template-columns: 1fr 1fr;

                & .img-promo {
                    & .promo-sticker {
                        top: 10%;
                        width: 50%;
                    }
                    & .promo-img {
                        width: 100%;
                    }
                }
            }
        }
    /* #endregion ========== PROMO ============= */

    /* #region ============= VARIAN ============= */
        #varian {
            & .products {
                & .carousel-products {
                    .carousel-cell {
                        width: 235px;
                        height: 400px;
                    }
                }

                & .wrap-desc-products {
                    margin-top: 2rem;
                    
                    & .desc-products {
                        max-width: 85%;

                        & a {
                            top: 0;
                            font-size: 1rem;
                        }
                        & span:nth-of-type(2) {
                            margin-top: .5rem;
                        }
                    }
                }
            }
        }
    /* #endregion ========== VARIAN ============= */

    /* #region ============= TESTIMONI ============= */
    #testimoni {
        & .subtitle {
            padding-left: 5%;
        }
        .testi-items {
            padding: 0 5%;
        }
    }
    /* #endregion ========== TESTIMONI ============= */

    /* #region ============= HARGA ============= */
        #harga {
            padding: 10% 5% 0 5%;

            & .wrap-product {
                grid-template-columns: 1fr 1fr;
                align-items: flex-start;
                height: fit-content;
                margin-top: 5rem;

                & .harga-img {
                    margin-top: 1rem;
                    & .selected-img {
                        width: 85%;
                    }
                }

                & .harga-desc {
                    gap: 1.25rem;
    
                    & .varian-nama {
                        & p:nth-child(2) {
                            font-size: 2.25rem;
                        }
                        & p:last-child {
                            font-size: 1.5rem;
                        }
                    }
    
                    & .varian-select {
                        & .wrap-select {
                            grid-template-columns: 1fr 1fr;
    
                            & label {
                                font-size: .9rem;
                                padding: .65rem;
                            }
                        }
                    }
    
                    & .varian-desc {
                        & p:not(.varian-label) {
                            font-size: 1rem;
                            margin-bottom: 1.25rem;
                        }
                    }
                }
            }
        }
    /* #endregion ========== HARGA ============= */

    /* #region ============= PANDUAN ============= */
        #panduan {
            padding: 10% 5%;

            & .subtitle {
                font-size: 3rem;
            }
        }
    /* #endregion ========== PANDUAN ============= */

    /* #region ============= FOOTER ============= */
        footer {
            & .wrap-footer {
                gap: 10%;

                & .ft-left {
                    width: 40%;
    
                    & svg {
                        height: 40px;
                    }
                    & p {
                        font-size: .9rem;
                    }
                }
    
                & .ft-right {
                    gap: 2rem;
    
                    .ft-r-top {
                        & div {
                            gap: 10%;
    
                            & ul {
                                & li {
                                    font-size: .9rem;
                                }
                            }
                        }
                    }
    
                    .ft-r-bottom {
                        & div {
                            gap: 1rem;
    
                            & a {
                                & img {
                                    width: 50px;
                                }
                            }
                        }
                    }
                }
            }
        }
    /* #endregion ========== FOOTER ============= */
}


/* ##################################################################################################################### */
/* ####################################################### HP ########################################################## */
/* ##################################################################################################################### */
@media screen and (max-width: 767px) {
    /* #region ============= GLOBAL ============= */
        :root {
            --maxPage: 100%;
        }

        .subtitle {
            font-size: 1.75rem;
            text-align: center;
        }
        .desc {
            font-size: 1rem;
        }
    /* #endregion ========== GLOBAL ============= */

    /* #region ============= NAVBAR ============= */
        #navbar {
            padding: 1.5rem;

            .brand {
                svg {
                    width: auto;
                    height: 35px;
                }
            }
            
            .nav-menu {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 2rem 1.5rem;
                background-color: var(--hitam);
                opacity: 0;
                pointer-events: none;
                overflow: hidden;

                ul {
                    width: 100%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 1.75rem;

                    li {
                        list-style: none;

                        a {
                            color: var(--putih);
                            font-size: 1.25rem;
                            text-decoration: none;
                            transition: var(--anim);

                            &:is(:hover, :active) {
                                color: var(--primary);
                            }
                        }
                    }
                }
            }

            .git {
                display: none;
            }

            label[for="nav-toggle"] {
                display: grid;
                z-index: 999;
            }

            #nav-toggle:checked ~ .nav-menu {
                opacity: 1;
                pointer-events: all;
            }
            #nav-toggle:checked ~ label[for="nav-toggle"] i:first-child {
                display: none;
            }
            #nav-toggle:checked ~ label[for="nav-toggle"] i:last-child {
                display: block;
            }
        }
    /* #endregion ========== NAVBAR ============= */

    /* #region ============= HEADER ============= */
        header {
            .text {
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 1.5rem;
                padding-bottom: 3.25rem;
                
                p:first-of-type {
                    font-size: 2.5rem;
                    line-height: 1.3;
                }
                p:nth-of-type(2) {
                    font-size: 2.75rem;
                    line-height: 1.3;
                }
                p:last-of-type {
                    font-size: 1.25rem;
                }
                button {
                    right: 2rem;
                    bottom: 2rem;
                }
            }
        }
    /* #endregion ========== HEADER ============= */

    /* #region ============= TENTANG ============= */
        
    /* #endregion ========== TENTANG ============= */
}